<!DOCTYPE html>
<html lang="en">

<head>
  <title>PV detection app - Success</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyCTIn22N0OJ6j4PjvTkqi8ROqN_XhKZUyQ"></script>
  <script type="text/javascript" src="https://www.datavis.fr/assets/lib/leaflet/leaflet-google-correct-v1.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.css">
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet/0.0.1-beta.5/esri-leaflet.js"></script>
  <script src="https://cdn-geoweb.s3.amazonaws.com/esri-leaflet-geocoder/0.0.1-beta.5/esri-leaflet-geocoder.js"></script>
  <script src="https://raw.githubusercontent.com/calvinmetcalf/leaflet-ajax/master/dist/leaflet.ajax.min.js"></script>
  <style>
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin-left: auto;
      margin-right: auto;
    }
    th, td {
      padding: 15px;
      text-align: left;
    }
    table tr:nth-child(even) {
      background-color: #eee;
    }
    table tr:nth-child(odd) {
     background-color: #fff;
    }
  </style>
</head>

<body>

<div class="jumbotron">
  <div class="container text-center">
    <h2>Detect solar panels with AI <br><br> Total E-LAB</h2>      
  </div>
</div>

<center>
  <br>
  <h3>Detection results</h3>
  <br>
  <div id="map" style="width: 800px; height: 600px"></div>
  <script>
  // Define the Leaflet default coordinates and zoom level
  var map = L.map('map').setView([ {{lat}} , {{lng}} ], 14);
  // var map = L.map('map').setView([ 48.889974 , 2.236975 ], 17);

  // Set up the map layers
  var osmLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors',
      maxZoom: 18
  });
  // var ggRoadmap = new L.Google('ROADMAP');
  var ggSatellite = new L.Google('').addTo(map); // We add this one as default map
  var ggTerrain = new L.Google('TERRAIN');
  var ggHybrid = new L.Google('HYBRID');

  // Add the detected polygons as a GeoJSON layer (method 1: through jinja2 templating)  
  var geojsonCollection = {{polygons|tojson}}
  var polygonLayer = L.geoJSON(geojsonCollection).addTo(map);

  // Add the detected polygons as a GeoJSON layer (method 2: using AJAX plug-in)
  // var geojsonLayer = new L.GeoJSON.AJAX("../inference/detected_polygons.geojson");       
  // geojsonLayer.addTo(map);

  // // Add the detected polygons as a GeoJSON layer (method 3: vanilla js)
  // let xhr = new XMLHttpRequest();
  // xhr.open('GET', "../inference/detected_polygons.geojson");
  // xhr.setRequestHeader('Content-Type', 'application/json');
  // xhr.responseType = 'json';
  // xhr.onload = function() {
  //     if (xhr.status !== 200) return
  //     L.geoJSON(xhr.response).addTo(map);
  // };
  // xhr.send();

  // Add layer control
  map.addControl(new L.Control.Layers( {
    'OpenStreetMap': osmLayer,
    // 'Google Roadmap' : ggRoadmap, 
    'Google Satellite': ggSatellite, 
    'Google Terrain (Relief)': ggTerrain, 
    'Google Hybrid' : ggHybrid
    },
    {'Detected solar arrays': polygonLayer}
  ));

  // Add the possibility to click wherever on the map to see coordinates
  var popup = L.popup();
  function onMapClick(e) {
    popup
    .setLatLng(e.latlng)
    .setContent(e.latlng.toString())
    .openOn(map);
    }
  map.on('click', onMapClick);

  // Add a scale bar
  L.control.scale().addTo(map);

  // Add a search bar
  var searchControl = new L.esri.Controls.Geosearch().addTo(map);
  var results = new L.LayerGroup().addTo(map);
  searchControl.on('results', function(data){
    results.clearLayers()
    map.closePopup();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
    }
  });
  </script>
  <br>
  <a href="../inference/detected_polygons.geojson" download="polygons"> 
    <button type="button">Download polygons as GeoJSON</button>
  </a>
</center>

<br>
<br>

<div class="container-fluid bg-3 text-center">
  <h3>Detection Summary</h3>
  <br>
  <table border="1" class="dataframe">
    <tbody>
      {% for key, value in data.items() %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<br>
<br>

<center>
  <a href="../inference/detection_summary.xlsx" download="summary"> 
    <button type="button">Download detection summary as Excel</button>
  </a> 
<center>

<br>
<br>
<br>
<br>

<footer>
  <p style="opacity: 0.3" align="center"> 
    &copy; 2020 - Total E-LAB - Thomas de Mareuil
  </p>
</footer>

</body>

</html>